player-connection-mode=Listen
player-connection-guid=1718857996
player-connection-debug=0
player-connection-project-name=TFG-Roguelike
player-connection-ip=192.168.1.140
player-connection-ip=192.168.96.1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=9f08a9fef5104901a8f0bbc133e86afc
