player-connection-mode=Listen
player-connection-guid=2027880688
player-connection-debug=0
player-connection-project-name=TFG-Roguelike
player-connection-ip=192.168.1.140
player-connection-ip=192.168.96.1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=d672d3b3d9924089978037225b35774e
